<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800363096013-oadqrieqi1vo57bfk26k1auc0sjekaal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800363096013-oadqrieqi1vo57bfk26k1auc0sjekaal</string>
	<key>API_KEY</key>
	<string>AIzaSyDRKwTqqIoq5uOj5Fvh1ppJsW_4xPFVKQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>800363096013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demofirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-2aab5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-2aab5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800363096013:ios:0d7f058bcab32e6670c684</string>
</dict>
</plist>