<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340613270382-f4884t6dkvrrofl5mebiq6hfcnlfreu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340613270382-f4884t6dkvrrofl5mebiq6hfcnlfreu1</string>
	<key>API_KEY</key>
	<string>AIzaSyCOH_PotbUHMBQPpPszaZsKpAPL5BXmpVM</string>
	<key>GCM_SENDER_ID</key>
	<string>340613270382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.edu.upeu.asistenciaApp</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-4d3f1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-4d3f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340613270382:ios:0734c6fe2a51ef27374f7f</string>
</dict>
</plist>